.post {
  width: 90%;
  margin: 0.5rem;
  
}

.no-posts {
  width: 90%;
  margin: 1rem;
}

.nav-link {
  margin-right: 0.25rem;
}

.like-hoof {
  width: 2rem;
  height: auto;
}

.footer {
  margin-top: 1rem;
}

a {
  color: #ffc107;
}

a:hover {
  color: black;
}
